.pricing_header {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 80px;
}

.pricing_header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.pricing_header p {
  font-size: 1.5rem;
  margin-bottom: 06rem;
}

.billing_cycle_selector {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.main_filter {
  position: relative;
  background-color: #f1f1f1;
  display: flex;
  padding: 03px;
  border-radius: 10px;
}
.pricing_dec_5 {
  background-image: url(https://cdn.prod.website-files.com/63a9cb71c629474d4ae334b9/64875b29b7cbf8534c3981dd_Group%204850.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5.01rem;
  height: 5.39188rem;
  position: absolute;
  inset: 10.6875rem 19.5625rem auto auto;
  top: -40px;
  right: -90px;
}
.pricing_dec_6 {
  background-image: url(https://cdn.prod.website-files.com/63a9cb71c629474d4ae334b9/65156467efee45f660468e0b_Group%202.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 4.605rem;
  height: 3.4375rem;
  position: absolute;
  top: -60px;
  right: 60px;
  z-index: 2;
}
.billing_toggle {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
  background: transparent;
  font-weight: 900;
}

.billing_toggle:hover {
  border-color: #999;
}

.billing_toggle.active {
  background: white;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 900;
}

.pricing_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pricing_item {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 30px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pricing_item:nth-child(3),
.pricing_item:nth-child(4) {
  background-color: #ef457e;
  color: white;
}

.pricing_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.pricing_top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading_style_h4 {
  font-family: "Mulish", Black, sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 120%;
}

.heading_style_h5 {
  font-family: "Mulish", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 120%;
}

.text_size_small {
  font-size: 1.2rem;
}
.pricing_size {
  font-size: 1.3rem;
}

.text_color_primary {
  color: #0099f6;
  font-size: 1.5rem;
  font-weight: 900;
}
.pricing_icon2 {
  color: #099df6;
}
.pricing_icon {
  color: #c5c5c5;
}

.pricing_item:nth-child(3) .text_color_primary,
.pricing_item:nth-child(4) .text_color_primary {
  color: #ffd44d;
  font-size: 1.5rem;
  font-weight: 900;
}
.text_color_primary .heading_style_h5 {
  font-size: 1rem;
  color: #0099f6;
  font-weight: 900;
}
.pricing_item:nth-child(3) .text_color_primary .heading_style_h5,
.pricing_item:nth-child(4) .text_color_primary .heading_style_h5 {
  font-size: 1rem;
  color: #ffd44d;
  font-weight: 900;
}
.pricing_item:nth-child(3) .pricing_icon2,
.pricing_item:nth-child(4) .pricing_icon2,
.pricing_item:nth-child(4) .pricing_icon3,
.pricing_item:nth-child(3) .pricing_icon3 {
  color: white;
}
.pricing_icon3 {
  color: #0099f6;
  font-size: 18px;
}

.billing_savings {
  font-size: 0.9rem;
  color: #ff5a5f;
  font-weight: 600;
  margin-left: 5px;
}

.original_price {
  font-size: 0.8rem;
  color: #999;
  text-decoration: line-through;
}

.divider {
  height: 1px;
  background: #eee;
  margin: 15px 0;
}

.pricing_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pricing_text_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing_list_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pricing_tools_wrapper {
  display: flex;
  gap: 15px;
}

.pricing_tools {
  height: 30px;
  width: auto;
}

.button {
  background-color: #0099f6;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  font-family: Mulish Black, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 175%;
  transition: all 0.3s ease-out;
  margin-top: 15px !important;
}
.pricing_item:nth-child(3) .button,
.pricing_item:nth-child(4) .button {
  background-color: #ffd44d;
  color: #07122b;
}

.button:hover {
  background: #333;
}

.width {
  width: 100%;
}

.auto_top {
  margin-top: auto;
}
.workBgWrapper {
  width: 100%;
  position: absolute;
  inset: 7.75rem 0% auto;
}

.work_dec_1 {
  width: 5.125rem;
  position: absolute;
  top: 8rem;
  left: 3.4375rem;
}
.work_dec_2 {
  width: 1.5rem;
  position: absolute;
  top: 150px;
  left: 23.8125rem;
}
.work_dec_3 {
  width: 1.875rem;
  position: absolute;
  top: 7.6875rem;
  right: 21.9375rem;
}
.work_dec_4 {
  width: 5.625rem;
  position: absolute;
  top: 10.5625rem;
  right: 3.125rem;
}
.work_dec_5 {
  width: 1.125rem;
  position: absolute;
  top: 16.5625rem;
  left: 21.4375rem;
}
.pricing_featured_image {
  width: 11.8125rem;
  position: absolute;
  top: 1.9rem;
  left: 200px;
}
